.card{
    width: 30%;
    margin-right: 10rem;
    margin-top: 15rem;
    background-color: gold;
    transition: transform 0.5s ease;
    border-radius: 10px;

}

.card:hover{
    transform: translateY(-2px);
}


.card-img-top{
    height: 200px;
}


