#three-bg {
  position: fixed;   /* stays in place while scrolling */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: -1;       /* push behind other page content */
  overflow: hidden;
}



#form {
  width: 50%;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}



.navbar {
  background-color: #d9ac47;
}


.Head{
  margin-left: 35rem;
  margin-top: 5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.form-control.is-valid {
  border: 2px solid green;
  color: green;
}

.form-control.is-invalid {
  border: 2px solid red;
  color: red;
} 

.feedbackWord.is-invalid {
  color: red;
}

.feedbackWord {
  font-size: 0.9rem;
  margin-top: 0.25rem;
  display: none;
  color: red;
}

/* Password */
.strength-bar{
   height: 10px;
   border-radius: 10px;
   transition: all 0.6s ease;
}

.strength-weak{
  width: 33%;
  background-color: red;
}
.strength-medium{
  width: 66%;
  background-color: #d9ac47;
}
.strength-strong{
  width: 100%;
 background-color: green;
}