#three-bg {
    position: fixed;   /* stays in place while scrolling */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: -1;       /* push behind other page content */
    overflow: hidden;
  }

.navbar{
    background-color: #d9ac47;
}

.hero-section{
  text-align: center;
  margin-top: 10rem;
}
.card{
  background: white;
    border-radius: 20px;
    margin-right: 10px;
    padding: 3rem 2rem;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.8);
    height: 100%;
}
.card:hover{
  transform: translateX(-10);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

#credit{
  margin-top: 20rem;
}

